<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'full_opening_tag' => false,
        'binary_operator_spaces' => [
            'align_equals' => true
        ]
    ]);